@import url('https://fonts.cdnfonts.com/css/simple-stylist');

.mainContainer {
    color: #242424;
    font-size: 40px;
}

.bannerContainer {
    font-family: 'Simple Stylist', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
}

.bannerImg{
    max-width: 900px;
}

.titleContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.bannerTitle{
    
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.optionsContainer{
    font-family: 'Utendo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fcd98d;
    border-radius: 5px;
    box-shadow: inset 5px 5px 5px #997c3d;
    margin-bottom: 50px;
}

.optionsGrid{
    align-items: center;
    justify-content: center;
    width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns: 40% 40%;
    font-size: 10px;
}

.sectionTitle{
    font-size: 20px;
}

.scenariosContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    align-items: center;
    justify-content: space-evenly;
}

.charactersContainer{
    width: 50%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.checkboxLabel{
    font-size: 14px;
}

.timerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 14px;
}

.submitButton{
    font-size: 20px;
    margin: 20px;
}
