.Player{
    width: 20px;
    height: 20px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    z-index: 100;
    position:absolute;
}